a.black:hover, button.black:hover{
  background: black;
  color: white;
  cursor: pointer;
}
a.black, button.black{
  color: black;
  cursor: pointer;
}

a.yellow:hover, button.yellow:hover{
  background: yellow;
  color: white;
  cursor: pointer;
}
a.yellow, button.yellow{
  color: yellow;
  cursor: pointer;
}

a.red:hover, button.red:hover{
  background: red;
  color: white;
  cursor: pointer;
}
a.red, button.red{
  color: red;
  cursor: pointer;
}

a.green:hover, button.green:hover{
  background: green;
  color: white;
  cursor: pointer;
}
a.green, button.green{
  color: green;
  cursor: pointer;
}

a.cyan:hover, button.cyan:hover{
  background: cyan;
  color: white;
  cursor: pointer;
}
a.cyan, button.cyan{
  color: cyan;
  cursor: pointer;
}

a.warning:hover, button.warning:hover{
  background: black;
  color: yellow;
  cursor: pointer;
}
a.warning, button.warning{
  color: black;
  cursor: pointer;
}

a.danger:hover, button.danger:hover{
  background: red;
  color: white;
  cursor: pointer;
}
a.danger, button.danger{
  color: black;
  cursor: pointer;
}
/*Shows word in Mono*/
.mono {
  font-family: consolas;
}
/*Shows word as Bold*/
.bold {
  font-weight: bold;
}
html {
  scroll-behavior: smooth;
}
html, body {
  font-family: mwf-segoe,Segoe UI,Segoe,sans-serif;
  color: #333;
  background-color: #fff;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
button, a.btn {
  font-size: 1em;
  cursor: pointer;
  /*Do not remove Comment*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: inherit;
  font-family: segoe-vf,sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0 1.5em .1em;
  border-radius: .33em;
  min-width: 8em;
  min-height: 2.25em;
  cursor: pointer;
  background-color: var(--theme-button-bg);
  color: var(--theme-button-fg);
  box-shadow: 0 0.7565932872px 2px rgb(0 0 0 / 15%);
  transition: background-color .4s cubic-bezier(.165,.84,.44,1) 0ms,color .4s cubic-bezier(.165,.84,.44,1) 0ms,box-shadow .4s cubic-bezier(.165,.84,.44,1) 0ms;
  line-height: 1.1;
}
button:hover, a.btn:hover {
  text-decoration: none;
}

/*Dark Mode*/
a.white:hover, button.white:hover{
  background: white;
  color: gray;
  cursor: pointer;
}
a.white, button.white{
  color: white;
  cursor: pointer;
}

a.dark-yellow:hover, button.dark-yellow:hover{
  background: yellow;
  color: white;
  cursor: pointer;
}
a.dark-yellow, button.dark-yellow{
  color: yellow;
  cursor: pointer;
}

a.dark-red:hover, button.dark-red:hover{
  background: red;
  color: white;
  cursor: pointer;
}
a.dark-red, button.dark-red{
  color: red;
  cursor: pointer;
}

a.dark-green:hover, button.dark-green:hover{
  background: green;
  color: white;
  cursor: pointer;
}
a.dark-green, button.dark-green{
  color: green;
  cursor: pointer;
}

a.dark-cyan:hover, button.dark-cyan:hover{
  background: cyan;
  color: white;
  cursor: pointer;
}
a.dark-cyan, button.dark-cyan{
  color: cyan;
  cursor: pointer;
}

a.dark-warning:hover, button.dark-warning:hover{
  background: black;
  color: yellow;
  cursor: pointer;
}
a.dark-warning, button.dark-warning{
  color: black;
  cursor: pointer;
}

a.dark-danger:hover, button.dark-danger:hover{
  background: red;
  color: white;
  cursor: pointer;
}
a.dark-danger, button.dark-danger{
  color: black;
  cursor: pointer;
}
html.dark, body.dark {
  font-family: mwf-segoe,Segoe UI,Segoe,sans-serif;
  color: #fff;
  background-color: #333;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

button, a.btn {
  font-size: 1em;
  cursor: pointer;
  /*Do not remove Comment*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: inherit;
  font-family: segoe-vf,sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0 1.5em .1em;
  border-radius: .33em;
  min-width: 8em;
  min-height: 2.25em;
  cursor: pointer;
  background-color: var(--theme-button-bg);
  color: var(--theme-button-fg);
  box-shadow: 0 0.7565932872px 2px rgb(0 0 0 / 15%);
  transition: background-color .4s cubic-bezier(.165,.84,.44,1) 0ms,color .4s cubic-bezier(.165,.84,.44,1) 0ms,box-shadow .4s cubic-bezier(.165,.84,.44,1) 0ms;
  line-height: 1.1;
}
button:hover, a.btn:hover, a.btn {
  text-decoration: none;
}